<nav>
  <div class="nav-container">
    <ul style="display: flex; gap: 0; list-style: none; padding: 0; margin: 0;">
      <li><a routerLink="/home" routerLinkActive="active" style="border-right: 1px solid #ede9fe;">Home</a></li>
      <li><a routerLink="/members" routerLinkActive="active" style="border-right: 1px solid #ede9fe;">Members</a></li>
      <li><a routerLink="/events" routerLinkActive="active" style="border-right: 1px solid #ede9fe;">Events</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" style="border-right: 1px solid #ede9fe;">Contact</a></li>
      <li><a routerLink="/administration" routerLinkActive="active">Administration</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
