<div class="admin-layout">
  <aside class="admin-menu">
    <ul>
      <li><a routerLink="users" routerLinkActive="active">Users</a></li>
      <li><a routerLink="roles" routerLinkActive="active">Roles</a></li>
      <li><a routerLink="ability-types" routerLinkActive="active">Ability Types</a></li>
      <li><a routerLink="activities" routerLinkActive="active">Activities</a></li>
      <li><a routerLink="grounds" routerLinkActive="active">Grounds</a></li>
      <li><a routerLink="organization" routerLinkActive="active">Organizations</a></li>
    </ul>
  </aside>
  <main class="admin-content">
    <router-outlet></router-outlet>
  </main>
</div>
